<div style="margin-top: 10px;margin-left: 15px;font-size: 20px;" *ngIf="main.userPosts.length == 0">
  No posts available
</div>

<div class="post-preview" *ngFor="let post of main.userPosts">

  <div class="post-meta">
    <a [routerLink]="['/user', post.author.id]">
      <img [src]="post.author.image" />
    </a>

    <div class="info">
      <a class="author"
      [routerLink]="['/user', post.author.id]">
      {{ post.author.username }}
    </a>
    <span class="date">
      {{ post.createdAt | date: 'longDate' }}
    </span>
  </div>
</div>

<a [routerLink]="['/posts', post.slug]" class="preview-link">
  <h1>{{ post.title }}</h1>
  <p>{{ post.description }}</p>
  <span>Read more...</span>
  <ul class="tag-list">
    <li class="tag-default tag-pill tag-outline"
    *ngFor="let tag of post.tagList">
    {{ tag }}
  </li>
</ul>
</a>

</div>
